@import "tailwindcss";

html, body {
  background-color: #030712;
  scroll-snap-type: y mandatory;
  touch-action: manipulation;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
}

.no-scroll-snap {
  scroll-snap-type: none !important;
}
